//====================================================================================================
.past__title {
   h1 {
    max-width: 960px;
    margin: 0px auto;
   }
}
.past__wrapper {
    padding: 0px 135px;
    @media (max-width: em(1279)){
		padding: 0px 35px;
	}
    @media (max-width:$tablet){
        padding: 0;
    }
}
.past__subtitle {
    font-size: 24px;
    line-height: 1.2;
    color: #242424;
    margin-bottom: rem(20);
    text-align: center;
}
.past__choice {
    justify-content: center;
}
.choice {
}
.past__choice-item {
}
.choice-item {
}
.checkbox {
}
.checkbox__input {
}
.checkbox__label {
}
.checkbox__text {
}
//====================================================================================================
.past__row {
    display: flex;
    flex-wrap: wrap;
}
.past__item {
    margin-bottom: rem(33);
}
.item-past {
    flex: 0 1 33.333%;
    padding: 0px 20px;
    @media (max-width:$tablet){
        flex: 0 1 50%;
    }
    @media (max-width:$mobile){
        flex: 1 1 100%;
        padding: 0px 70px;
    }
    @media (max-width:$mobileSmall){
         padding: 0; 
    }
}
.item-past__column {
    background-color: #f2f1f1;
    height: 100%;
}
.item-past__bg {
    position: relative;
    max-width: 357px;
    height: 412px;
    @media (max-width:$tablet){
         max-width: none; 
    }
}
.item-past__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.item-past__name {
    position: absolute;
    width: 242px;
    height: 42px;
    bottom: 0;
    left: 0;
    background-color: #079edb;
    text-transform: uppercase;
    color: #fbe9b7;
    padding: 13px 20px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.item-past__text {
    padding: 25px 15px;
    
}
.item-past__category {
    font-size: 17px;
    line-height: 24px;
    color: #0183b7;
    margin-bottom: rem(17);
    a:hover{
        text-decoration: underline;
    }
}
.item-past__title {
    line-height: 1.2;
    font-weight: 700;
    color: #242424;
}
.item-past__subtitle {
    line-height: 1.2;
    color: #242424;
    margin-bottom: rem(15);
}
.item-past__link {
  font-size: 17px;
    line-height: 1.2;
    text-decoration: underline;
    color: #242424;
    &:hover{
        text-decoration: none;
    }
}
//====================================================================================================
.past__conferences {
}
//====================================================================================================
.past__download {
}
//====================================================================================================
.past__reviews {
    
}
.reviews {
}
.past__title {
}
.reviews__title {
}
.past__slider {
    position: relative;
    margin-bottom: rem(90);
    padding: 0px 20px;
    @media (max-width:$pc){
         padding: 0px 10px;
    }
}
.swiper-face {
}
.reviews__wrapper {
}
.swiper-wrapper {
}
.swiper-face__slide {
    padding: 0px 0px;
}
.swiper-face-row {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.reviews__slide {
}
.swiper-slide {
}
.swiper-face__slide-image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 90%;
    overflow: hidden;
    margin-bottom: rem(25);
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.swiper-face__slide-title {
    font-size: 18px;
    line-height: 1.2;
    color: #363636;
}
.swiper-face__slide-subtitle {
    font-size: 16px;
    line-height: 1.2;
    color: #898989;
    margin-bottom: rem(20);
}
.past__slide-logo {
}
.swiper-button-prev {
    left: 0px;
}
.past__swiper-button-prev,
.past__swiper-button-next {
    top: 25%;
    @media (max-width:$mobileSmall){
        display: flex; 
   }
}
.past__swiper-button-prev {
    left: 0;
}
.past__swiper-button-next {
    right: 0;
}
//====================================================================================================
.past__content {
}
.past__content-title {
  font-size: 32px;
  line-height: 1.2;
  color: #423f4f;
  margin-bottom: rem(55);
  @media (max-width:$tablet){
    margin-bottom: rem(30);
  }
}
.past__content-text {
  line-height: 1.2;
  text-align: justify;
  margin-bottom: rem(100);
  p {
    margin-bottom: rem(20);
  }
  @media (max-width:$tablet){
    margin-bottom: rem(60);
  }
  
}
//====================================================================================================

//====================================================================================================
.gallery {
    margin-top: rem(80);
    margin-bottom: rem(150);
    @media (max-width:$pc){
       margin-bottom: rem(100); 
    }
    @media (max-width:$tablet){
      margin-bottom: rem(60);
    }
    &__title {
      color: #423f4f;
    }
  
    &__subtitle {
      font-size: 34px;
      color: #423f4f;
      margin-bottom: 30px;
    }
  
    &__photos {
      display: grid;
      max-width: 1920px;
      width: 100%;
      margin: 0 auto;
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      position: relative;
      @media (max-width: em(444)){
        display: flex;
        flex-wrap:wrap;
        width: 100%;
      }
    }
  
    .rect {
      position: absolute;
      width: 130%;
      height: 105%;
      left: -15%;
      top: 0;
      background-color: #e2f4fe;
      transform: rotateZ(2.5deg);
      z-index: -1;
    }
  
    &__img.zoomed {
      transform: scale(2);
      z-index: 100;
      position: relative;
      transition: all 0.3s ease 0s;
      filter: grayscale(0);
    }
    &__img {
        transition: all 0.3s ease 0s;
        z-index: 50;
        height: 230px;
        @extend %grayfilter;
        @media (max-width: em(1279)){
            height: 160px;
        }
        @media (max-width:$mobile){
          height: 130px;
        }
        @media (max-width: em(444)){
        }
      &--1.zoomed {
        
        z-index: 100;
        position: relative;
        transform: scale(2) translate(-25%,0);
      }
  
      &--7.zoomed {
        z-index: 100;
        position: relative;
        transform: scale(2) translate(-25%,0);
      }
  
      &--12.zoomed {
        z-index: 100;
        position: relative;
        transform: scale(2) translate(25%,0);
        @media (max-width: em(444)){
            z-index: 100;
            position: relative;
            transform: scale(2) translate(-25%,-20%);
        }
      }
  
      &--3.zoomed {
        @media (max-width: em(444)){
            z-index: 100;
            position: relative;
            transform: scale(2) translate(-25%,-20%);
        }
      }

      &--9.zoomed {
        @media (max-width: em(444)){
            z-index: 100;
            position: relative;
            transform: scale(2) translate(-25%,-20%);
        }
      }

      &--11.zoomed {
        @media (max-width: em(444)){
            z-index: 100;
            position: relative;
            transform: scale(2) translate(25%,0);
        }
      }

      &--8.zoomed {
        @media (max-width: em(444)){
            z-index: 100;
            position: relative;
            transform: scale(2) translate(25%,0);
        }
      }

      &--5.zoomed {
        @media (max-width: em(444)){
            z-index: 100;
            position: relative;
            transform: scale(2) translate(25%,0);
        }
      }

      &--2.zoomed {
        @media (max-width: em(444)){
            z-index: 100;
            position: relative;
            transform: scale(2) translate(25%,0);
        }
      }

      &--7.zoomed {
        @media (max-width: em(444)){
            z-index: 100;
            position: relative;
            transform: scale(2);
        }
      }

      &--1.zoomed {
        @media (max-width: em(444)){
            z-index: 100;
            position: relative;
            transform: scale(2);
        }
      }

      &--6.zoomed {
        z-index: 100;
        position: relative;
        transform: scale(2) translate(25%,0);
        @media (max-width: em(444)){
            z-index: 100;
            position: relative;
            transform: scale(2) translate(-25%,-20%);
        }
      }
  
      img {
        
        width: 100%;
        object-fit: cover;
        height: 100%;
        
      }
    }
    &__img:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    &__img:nth-child(2) {
      grid-area: 1 / 2 / 2 / 4;
    }
    &__img:nth-child(3) {
      grid-area: 1 / 4 / 2 / 6;
    }
    &__img:nth-child(4) {
      grid-area: 1 / 6 / 2 / 8;
    }
    &__img:nth-child(5) {
      grid-area: 1 / 8 / 2 / 10;
    }
    &__img:nth-child(6) {
      grid-area: 1 / 10 / 2 / 12;
    }
    &__img:nth-child(7) {
      grid-area: 2 / 1 / 3 / 3;
    }
    &__img:nth-child(8) {
      grid-area: 2 / 3 / 3 / 5;
    }
    &__img:nth-child(9) {
      grid-area: 2 / 5 / 3 / 7;
    }
    &__img:nth-child(10) {
      grid-area: 2 / 7 / 3 / 9;
    }
    &__img:nth-child(11) {
      grid-area: 2 / 9 / 3 / 11;
    }
    &__img:nth-child(12) {
      grid-area: 2 / 11 / 3 / 12;
    }
  }
//====================================================================================================
